* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;     
  align-items: center;        
  background: linear-gradient(135deg, #a47adf, #45277a); 
  font-family: 'Poppins', sans-serif;
  color: #262626;
}


